<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bremen Acciai s.p.a.</title>

<link href="bootstrap.min.css" rel="stylesheet">
<script src="jquery-3.1.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<link href="bootstrap-editable.css" rel="stylesheet"/>
<script src="bootstrap-editable.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript" src="utils.js"></script>
<script src="moment-with-locales.min.js"></script>
<script>
  moment.locale('it');  // Set the default/global locale
</script>
<style>
	body 	{ padding-top:50px; }
</style>
